In [6]:
import pandas as pd

raw_data = pd.read_csv('downloads/MQL-SQL Raw data.csv')
raw_data.head()

  Client Status Source MQL Created Date
0           SQL  Email         4/1/2019
1           SQL  Email         4/1/2019
2           SQL  Email         4/1/2019
3           SQL  Email         4/1/2019
4           SQL  Email         4/1/2019

### Question 1: What is the overall MQL to SQL conversion rate by week (assume weeks start on mondays and end on sundays)?

In [10]:
raw_data['MQL Created Date'] = pd.to_datetime(raw_data['MQL Created Date'])


raw_data['Week'] = raw_data['MQL Created Date'].dt.to_period('W').apply(lambda r: r.start_time)

weekly_data = raw_data.groupby('Week').agg(
    MQLs=('Client Status', 'count'),
    SQLs=('Client Status', lambda x: (x == 'SQL').sum())
)

weekly_data['Conversion Rate'] = (weekly_data['SQLs'] / weekly_data['MQLs']) * 100


weekly_data.reset_index(inplace=True)


print(weekly_data)

        Week  MQLs  SQLs  Conversion Rate
0 2019-04-01    96    45        46.875000
1 2019-04-08   136    64        47.058824
2 2019-04-15   408   137        33.578431
3 2019-04-22  1519   595        39.170507

### Question 2: How has the overall MQL conversion rate changed over time?

As seen in the table above, the overall MQL conversion rate decreased over time

### Question 3: What is the main reason that the overall MQL conversion rate changed so drastically from week 1 to week 4?

In [11]:
weekly_data_summary = raw_data.groupby('Week').agg(
    MQLs=('Client Status', 'count'),
    SQLs=('Client Status', lambda x: (x == 'SQL').sum()),
    Email=('Source', lambda x: (x == 'Email').sum()),
    Web=('Source', lambda x: (x == 'Web').sum()),
    Other=('Source', lambda x: (x.isin(['Email', 'Web']) == False).sum())
)

weekly_data_summary['Conversion Rate'] = (weekly_data_summary['SQLs'] / weekly_data_summary['MQLs']) * 100
weekly_data_summary.reset_index(inplace=True)


print(weekly_data_summary)

        Week  MQLs  SQLs  Email  Web  Other  Conversion Rate
0 2019-04-01    96    45     43    0     53        46.875000
1 2019-04-08   136    64     67    0     69        47.058824
2 2019-04-15   408   137     49    0    359        33.578431
3 2019-04-22  1519   595    134    0   1385        39.170507

The table above illustrates the significant increase in MQLs from "Other" sources, particularly in the 3rd and 4th week. These leads could have been more broad/difficult to convert, therefore negatively affecting the conversion rate